.MenuItem{
    display: flex;
    border: 2px solid black ;
    margin: 1px;
}

.ItemSection{
    width: 45%;
    height: auto;
    display: block;
    border: 3px solid rgb(88, 66, 66);
    margin: 5px;
}

li{
    list-style-type: none ;
}

.product{
    width: 70%;
    margin:2px;
}

.price{
    width: 25%;
    margin:2px;
    display: flex;
    align-self: right;
}

.container{
    display: flex;
    flex-wrap: wrap;
}